body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: left;
}

header {
    background: #5a4f4f;
    color: white;
    padding: 60px 20px;
    text-align: left;
}

h2 {
    margin-top: 40px;
}

.intro, .services, .contact {
    padding: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    background: rgb(10, 37, 158);
    color: white;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 5px;
}
